---
const { name, price, link, img, alt, hover } = Astro.props;
---

<div class="con">
  <div class="image">
    <img src={img} alt={alt} class="img_base" />
    <img src={hover} alt={alt} class="img_hover" />
  </div>
  <a href="/product">
    <p class="name underline">{name}</p>
    <br />
    <p class="price">{price} DKK</p>
  </a>
</div>
<style>
  .con {
    display: flex;
    flex-direction: column;
    gap: 20px;
    object-fit: cover;
    text-align: center;
    width: 340px;
    margin-bottom: 40px;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 340px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    text-align: center;
  }

  img {
    max-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: 300ms ease;
  }

  .img_hover {
    opacity: 0;
  }

  .image:hover .img_hover {
    opacity: 1;
  }

  .image:hover .img_base {
    opacity: 0;
  }

  .name {
    font-weight: var(--regular);
    font-size: var(--w_desc);
    text-transform: uppercase;
  }

  .price {
    font-weight: var(--bold);
    font-size: var(--w_price);
    color: var(--black-500);
    text-transform: uppercase;
  }

  a {
    cursor: pointer;
  }

  .img_base,
  .img_hover {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  .con:hover .underline {
    text-decoration: underline;
  }

  @media (max-width: 1150px) {
    .image {
      height: 240px;
      width: 240px;
      justify-self: center;
    }
    .con {
      width: 240px;
    }
  }

  @media (max-width: 815px) {
    .image {
      height: 160px;
      width: 160px;
    }

    .con {
      width: 160px;
    }

    .price {
      font-size: var(--m_price);
    }

    .name {
      font-size: var(--m_desc);
    }
  }
</style>
